@using Cobranca.PortalWeb.Models.ViewModel.Cobranca
@model List<CobrancaDetalheView>

<link href="~/css/components/Re_DetalheView.css" rel="stylesheet">


@{
    if (Model == null || Model.Count == 0)
    {
        <div>Nenhum detalhe encontrado.</div>
        return;
    }
}
@Html.Partial("_TituloComponentes", "Detalhe Cobrança")


<div class="Re_Container-Envios">
    @foreach (var item in Model)
    {
        <section class="dados-cobrador">
            <div class="" style="padding: 5px 25px 15px 25px;">
                <h2 style="margin-left: 10px; font-weight: bold;">Dados Evento:</h2>

                <div class="Re_Container-White-Fora  Re_Borda row w-100">



                    <div class="col-3 form-group">
                        <b><label class="label-indicacao">Tipo Evento:</label></b>
                        <br>
                        <label class="label-dado"  style="font-size:10px">
                            @item.TipoOrigem
                        </label>
                    </div>
                    <div class="col-3 form-group">
                        <b><label class="label-indicacao">Id do Evento:</label></b>
                        <br>
                        <label class="label-dado" style="font-size:10px">
                            @item.IdExterno
                        </label>
                    </div>

                    <div class="col-3 form-group">
                        <b><label class="label-indicacao">Data Evento:</label></b>
                        <br>
                        <label class="label-dado" style="font-size:10px">
                            @item.DataEvento
                        </label>
                    </div>
                    <div class="col-3 form-group">
                        <b><label class="label-indicacao">Data Criação:</label></b>
                        <br>
                        <label class="label-dado" style="font-size:10px">
                            @item.CreatedAt
                        </label>
                    </div>
                    <div class="col-3 form-group">
                        <b><label class="label-indicacao">Título:</label></b>
                        <br>
                        <label class="label-dado" style="font-size:10px">
                            @item.Titulo
                        </label>
                    </div>
                    <div class="col-3 form-group">
                        <b><label class="label-indicacao">Descrição do Evento:</label></b>
                        <br>
                        <label class="label-dado" style="font-size:10px">
                            @item.Descricao
                        </label>
                    </div>
                </div>


            </div>
        </section>


        <section class="dados-cobrador">
            <div class="" style="padding: 5px 25px 15px 25px;">
                <h2 style="margin-left: 10px; font-weight: bold;">Credor:</h2>

                <div class="row w-100 Re_Container-White-Fora  Re_Borda">
                    <div class="col-3 form-group">
                        <b><label class="label-indicacao">Cnpj:</label></b>
                        <br>
                        <label class="label-dado" style="font-size:10px">
                            @item.Cnpj
                        </label>
                    </div>
                    <div class="col-3 form-group">
                        <b><label class="label-indicacao">Nome Credor:</label></b>
                        <br>
                        <label class="label-dado" style="font-size:10px">
                            @item.NomeCredor
                        </label>
                    </div>
                </div>

            </div>
        </section>


        <section class="dados-valor">
            <div class="" style="padding: 5px 25px 15px 25px;">
                <h2 style="margin-left: 10px; font-weight: bold;">Valores Divida:</h2>

                <div class="row w-100 Re_Container-White-Fora  Re_Borda">

                    <div class="col-3 form-group">
                        <b><label class="label-indicacao">Valor Cobrado Inicial:</label></b>
                        <br>
                        <label class="label-dado" style="font-size:10px">
                            @item.ValorPrincipal
                        </label>
                    </div>
                    <div class="col-3 form-group">
                        <b><label class="label-indicacao">Vencimento:</label></b>
                        <br>
                        <label class="label-dado" style="font-size:10px">
                            @item.Vencimento
                        </label>
                    </div>
                    <div class="col-3 form-group">
                        <b><label class="label-indicacao">Status Evento:</label></b>
                        <br>
                        <label class="label-dado" style="font-size:10px">
                            @item.StatusCobranca
                        </label>
                    </div>
                    <div class="col-3 form-group">
                        <b><label class="label-indicacao">Despesas:</label></b>
                        <br>
                        <label class="label-dado" style="font-size:10px">
                            @item.DespesasTotal
                        </label>
                    </div>
                    <div class="col-3 form-group">
                        <b><label class="label-indicacao">Indice de Juros:</label></b>
                        <br>
                        <label class="label-dado" style="font-size:10px">
                            @item.CorrecaoIndice
                        </label>
                    </div>
                    <div class="col-3 form-group">
                        <b><label class="label-indicacao">Multa percentual:</label></b>
                        <br>
                        <label class="label-dado" style="font-size:10px">
                            @item.MultaPercentual
                        </label>
                    </div>
                    <div class="col-3 form-group">
                        <b><label class="label-indicacao">Valor Negociação pagamento a vista:</label></b>
                        <br>
                        <label class="label-dado" style="font-size:10px">
                            @item.NegDescontoVista
                        </label>
                    </div>
                    <div class="col-3 form-group">
                        <b><label class="label-indicacao">Validade:</label></b>
                        <br>
                        <label class="label-dado" style="font-size:10px">
                            @item.NegValidade
                        </label>
                    </div>

                </div>
            </div>
        </section>


        @if (item.devedorModel != null && item.devedorModel.Count > 0)
        {
            <section class="lista-devedores">
                @* Itera todos os devedores *@
                @foreach (var dev in item.devedorModel)
                {
                    <div class="" style="padding: 5px 25px 15px 25px;">
                        <h2 style="margin-left: 10px; font-weight: bold;">Devedor:</h2>

                        <div class="row w-100 Re_Container-White-Fora  Re_Borda">
                            <div class="col-3 form-group">
                                <b><label class="label-indicacao">Nome Devedor:</label></b>
                                <br>
                                <label class="label-dado" style="font-size:10px">
                                    @dev.NomeDevedor
                                </label>
                            </div>
                            <div class="col-3 form-group">
                                <b><label class="label-indicacao">Tipo:</label></b>
                                <br>
                                <label class="label-dado" style="font-size:10px">
                                    @dev.Tipo
                                </label>
                            </div>
                            <div class="col-3 form-group">
                                <b><label class="label-indicacao">Documento:</label></b>
                                <br>
                                <label class="label-dado" style="font-size:10px">
                                    @dev.CpfCnpj
                                </label>
                            </div>
                            <div class="col-3 form-group">
                                <b><label class="label-indicacao">RG_IE:</label></b>
                                <br>
                                <label class="label-dado" style="font-size:10px">
                                    @dev.RG_IE
                                </label>
                            </div>
                            <div class="col-3 form-group">
                                <b><label class="label-indicacao">Tel1:</label></b>
                                <br>
                                <label class="label-dado" style="font-size:10px">
                                    @dev.Tel1
                                </label>
                            </div>
                            <div class="col-3 form-group">
                                <b><label class="label-indicacao">Tel2:</label></b>
                                <br>
                                <label class="label-dado" style="font-size:10px">
                                    @dev.Tel2
                                </label>
                            </div>
                            <div class="col-3 form-group">
                                <b><label class="label-indicacao">Email:</label></b>
                                <br>
                                <label class="label-dado" style="font-size:10px">
                                    @dev.Email
                                </label>
                            </div>

                            <div class="col-3 form-group">
                                <b><label class="label-indicacao">Logradouro:</label></b>
                                <br>
                                <label class="label-dado" style="font-size:10px">
                                    @dev.EndLogradouro
                                </label>
                            </div>
                            <div class="col-3 form-group">
                                <b><label class="label-indicacao">Nº:</label></b>
                                <br>
                                <label class="label-dado" style="font-size:10px">
                                    @dev.EndNumero
                                </label>
                            </div>
                            <div class="col-3 form-group">
                                <b><label class="label-indicacao">Complemento:</label></b>
                                <br>
                                <label class="label-dado" style="font-size:10px">
                                    @dev.EndComplemento
                                </label>
                            </div>
                            <div class="col-3 form-group">
                                <b><label class="label-indicacao">Bairro:</label></b>
                                <br>
                                <label class="label-dado" style="font-size:10px">
                                    @dev.EndBairro
                                </label>
                            </div>
                            <div class="col-3 form-group">
                                <b><label class="label-indicacao">Cidade:</label></b>
                                <br>
                                <label class="label-dado" style="font-size:10px">
                                    @dev.EndCidade
                                </label>
                            </div>
                            <div class="col-3 form-group">
                                <b><label class="label-indicacao">UF:</label></b>
                                <br>
                                <label class="label-dado" style="font-size:10px">
                                    @dev.EndUF
                                </label>
                            </div>
                            <div class="col-3 form-group">
                                <b><label class="label-indicacao">CEP:</label></b>
                                <br>
                                <label class="label-dado" style="font-size:10px">
                                    @dev.EndCEP
                                </label>
                            </div>
                        </div>
                    </div>
            

                        }
                    </section>
            }
            else
            {
        <div class="sem-devedores">Sem devedores cadastrados.</div>
            }

    <!-- ============================= -->
    <!-- 3) BLOCO: Respostas/Pagamentos -->
    <!-- ============================= -->
            @if (item.respostaModel != null && item.respostaModel.Count > 0)
            {
        <section class="lista-respostas">
            @* Itera todas as respostas/pagamentos *@
            @foreach (var resp in item.respostaModel)
            {
                <div class="resposta">
                    @* Coloque aqui os campos da resposta *@
                    @* Ex.: @resp.PaidAt, @resp.Valor, @resp.Metodo, @resp.Body, etc. *@

                    <!-- EXEMPLOS (remova/edite conforme quiser)
                    <p>Pago em: @(resp.PaidAt?.ToString("dd/MM/yyyy HH:mm") ?? "-")</p>
                    <p>Valor: @resp.Valor</p>
                    <p>Método: @(resp.Metodo ?? "-")</p>
                    <pre>@(resp.Body ?? "")</pre>
                    -->
                </div>
            }
        </section>
            }
            else
            {
        <div class="sem-respostas">Sem respostas/pagamentos.</div>
            }

    <hr />
    }
</div>
