@using Cobranca.PortalWeb.Models.ViewModel.Cobranca;
@using Cobranca.PortalWeb.Models.Common;

@model List<CobrancaCapaViewModel>

<link rel="stylesheet" href="~/css/components/Re_table.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/components/Re_container.css" asp-append-version="true" />
@* <link rel="stylesheet" href="~/css/Re_Personalizado.css" asp-append-version="true" /> *@
@* <link rel="stylesheet" href="~/css/Re_Default.css" asp-append-version="true" /> *@



<table class="Re_Table Re-Table-Wide Re_Table_Nowrap">
    <thead>
        <tr>
            <th class="Re_Table_Th"></th>
            <th class="Re_Table_Th">STATUS</th>
            <th class="Re_Table_Th">EMPRESA CREDORA</th>
            <th class="Re_Table_Th">DEVEDOR</th>
            <th class="Re_Table_Th">ID COBRANÇA</th>
            <th class="Re_Table_Th">TÍTULO </th>
            <th class="Re_Table_Th">DATA DO EVENTO</th>
            <th class="Re_Table_Th">DATA CRIAÇÃO</th>
            <th class="Re_Table_Th">DETALHE</th>

        </tr>
    </thead>

    <tbody class="Re_Table_List Re_ContentContainer">
        
            @foreach (var item in Model.Where(x => x.EmpresaId > 1).ToList())
            {
                <tr class="Re_Table_Tr">
                    <td class="Re_Table_Td" align="center" valign="top">
                        <a class="btn" role="button" style="padding:0;">
                            <img class="img-status" src="@ViewHelpers.GetStatusImage((StatusEnvioCobranca)item.StatusId)" alt="Status" />
                        </a>
                    </td>
                    <td class="Re_Table_Td" align="center" valign="top">
                        <p style="margin: 0;">@item.StatusNome</p>
                    </td>
                    <td class="Re_Table_Td" align="center" valign="top">
                        <p style="margin: 0;">@item.NomeCredor</p>
                    </td>
                    <td class="Re_Table_Td" align="center" valign="top">
                        <p style="margin: 0;">@item.NomeDevedor</p>
                    </td>
                    <td class="Re_Table_Td" align="center" valign="top">
                        <p style="margin: 0;" class="font-cor-azul">@item.IdExterno</p>
                    </td>
                    <td class="Re_Table_Td" align="center" valign="top">
                        <p style="margin: 0;">@item.Titulo</p>
                    </td>
                    <td class="Re_Table_Td" align="center" valign="top">
                        <p style="margin: 0;">@item.DataEventoFormatada</p>
                    </td>
                    <td class="Re_Table_Td" align="center" valign="top">
                        <p style="margin: 0;">@item.CreatedAtFormatada</p>
                    </td>
                    <td class="Re_Table_Td" align="center" valign="top">
                        <a href="#" onclick="abrirDetalhe(@item.OrigemId)">
                            <img src="~/assets/icones/icons-detalhe.png" width="20" />
                        </a>
                    </td>


                </tr>
            }
        

        </tbody>

    <tfoot>
    </tfoot>
</table>



<script>
    function abrirDetalhe(id) {
      // redireciona o usuário para a página de detalhe
      window.location.href = `/Cobranca/CobrancaDetalhe/${id}`;
    }
</script>

